<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="a1" class="com.ClassA">
		<property name="x" value="x value"></property>
		<property name="y" value="y value"></property>
	</bean>

	<bean id="a2" class="com.ClassA">
		<constructor-arg value="x value" />
		<constructor-arg value="y value" />
	</bean>



</beans>